/* Error: $lightness: (4 9%) is not a number.
 *    ,
 * 18 | $cool-gray-hsl: hsla(234, 19%, 4  9%, 1);
 *    |                 ^^^^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   src/sass/common/_variables.scss 18:17  @use
 *   src/sass/partials/_elements.scss 1:1   @use
 *   src/sass/styles.scss 25:1              root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: $lightness: (4 9%) is not a number.\a    \2577 \a 18 \2502  $cool-gray-hsl: hsla(234, 19%, 4  9%, 1);\a    \2502                  ^^^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   src/sass/common/_variables.scss 18:17  @use\a   src/sass/partials/_elements.scss 1:1   @use\a   src/sass/styles.scss 25:1              root stylesheet";
}
