---
layout: base.njk
page:
  titleClasses:
    - "page-title"
---

			{% if showTitle != false and primary != true %}
			{% include "layouts/components/title-bar.njk" %}
			{% endif %}


      {% if subtitle %}
      <div class="content-canvas-item-full content-canvas page-subtitle">
        <h2 class="page-subtitle--subtitle content-canvas-item-wide-left{% if subtitleStyle %} {{ subtitleStyle }}{% endif %}">{{ subtitle | safe }}</h2>
      </div>
      {% endif %}

      {% if image.path %}
			<figure class="{{ image.page.figureClass }}">
			{% image image.path, image.alt, image.class, image.widths %}
			{% if image.caption %}
			<figcaption>{{ image.caption | safe }}{% if image.credit %} {{ image.credit | safe }}{% endif %}</figcaption>
			{% endif %}
			</figure>
		  {% endif %}

      {% if metadata.show !== false %}
      <div class="metadata page__metadata">
        <div class="metadata__info">
          <time class="metadata__date" datetime="{{ page.date | readableDate("yyyy-LL-dd") }}">{{ page.date | readableDate("LLLL yyyy") }}</time>
          <span class="metadata__divider divider"></span>
          <span class="metadata__reading-time">{{ content | timeToRead }} read</span>
        </div>
      </div>
		  {% endif %}
				
   
      {{ content | safe }}

{% if pageLinks %}
  {% include "layouts/components/page-pagelinks.njk" %}
{% endif %}