---
layout: base.njk
primary: true
---
    
    <div class="site-content{% if page.classes %} {{ page.classes | join(" ") }}{% endif %} content-canvas">

      {% if showTitle != false %}
      {% include "layouts/components/title-bar.njk" %}
      {% endif %}
        
        {{ content | safe }}
      

    </div>

    
    <div class="site-content content-canvas">
      <div class="content-canvas-item-wide">
      {% include "layouts/components/index-list.njk" %}
      </div>
    </div>

{% if pageLinks %}
  {% include "layouts/components/page-pagelinks.njk" %}
{% endif %}
