
    <main id="content" class="main">
			{% if not primary %}
			<div class="page{% if page.classes %} {{ page.classes | join(" ") }}{% endif %}">
				{# {% include "layouts/components/title-bar.njk" %} #}
				{{ layoutContent | safe }}
			</div>
			{% else %}

				{{ layoutContent | safe }}

			{% endif %}
		</main>