
    <main id="content" class="main">
			{% if not primary %}
			<div class="page{% if page.classes %} {{ page.classes | join(" ") }}{% endif %} content-canvas">
				{{ content | safe }}
			</div>
			{% else %}

				{{ content | safe }}

			{% endif %}
		</main>