@use "../common/variables" as var;

html {
  // General colours
  --color-light-blue-steel: #{var.$light-blue-steel-hsl};
  --color-blue-yonder: #{var.$blue-yonder-hsl};
  --color-white: #{var.$white};
  --color-grey: #{var.$grey};
  --color-grey-dark: #{var.$grey-dark};
  --color-cool-grey: #{var.$cool-gray-hsl};
  --color-raisin-black: #{var.$raisin-black-hsl};
  --color-platinum: #{var.$platinum-hsl};

  --color-raising-black-lighter: #{var.$raisin-black-lighter};
  --color-white-transparent: #{var.$white-transparent};

  --color-brand-primary: var(--color-blue-yonder);
  --color-brand-secondary: var(--color-light-blue-steel);
  --color-brand-tertiary: var(--color-cool-grey);
  --color-brand-text: var(--color-raisin-black);
  --color-brand-text-lighter: var(--color-raising-black-lighter);
  --color-brand-white: var(--color-white);
  --color-brand-black: var(--color-raisin-black);
  --color-brand-grey: var(--color-grey);


  // Text colours
  --color-text-black: var(--color-brand-text);
  --color-text-white: var(--color-white);

  // Border colours

  --border-color: var(--color-grey-dark);
  --border-top-color: var(--border-color);
  --border-bottom-color: var(--border-color);

  // Fonts
  --font-primary: #{var.$primary-font};
  --font-secondary: #{var.$secondary-font};
  --font-headings: #{var.$headings-font};
  --font-headings-weight: #{var.$headings-font-weight};
  --font-weight-light: #{var.$base-font-weight-light};
  --font-weight-medium: #{var.$base-font-weight-medium};
  --font-weight-regular: #{var.$base-font-weight-regular};
  --font-weight-bold: #{var.$base-font-weight-bold};

  
  --font-size-fluid-000: clamp(#{var.$body-v-sml-font-size-mobile}, 1.3vw, #{var.$body-v-sml-font-size});
  --font-size-fluid-00: clamp(.67rem, 1.25vw, 0.75rem);
  --font-size-fluid-0: clamp(0.75rem, 1.5vw, 1rem);
  --font-size-fluid-01: clamp(0.8rem, 4vw, 1.2rem);
  --font-size-fluid-21: clamp(#{var.$h2-font-size-mobile}, 2.5vw, #{var.$h2-font-size});
  --font-size-fluid-3: clamp(#{var.$h1-font-size-mobile}, 4vw, #{var.$h1-font-size});
  --font-size-fluid-4: clamp(#{var.$h1-lg-font-size-mobile}, 6vw, #{var.$h1-lg-font-size});
}

:where(p,ul,ol,dl,h6) {
  font-size: var(--font-size-1);
}

:where(hr) {
  margin-block: var(--size-fluid-4);
}

:where(a):where([href]) {
  color: var(--color-brand-primary);
}

:where(a):where(:not(:hover)) {
  text-decoration: inherit;
}
